<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Login</h5>
              <form class="form-signin">
                  <div class="form-label-group">First Name
                      <input type="firstname" id="inputFirstname" class="form-control" placeholder="First Name" required autofocus>
                      
                    </div>
                    <div class="form-label-group">Last Name
                        <input type="firstname" id="inputFirstname" class="form-control" placeholder="Last Name" required autofocus>
                       
                      </div>
                <div class="form-label-group">Email address
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  
                </div>
                <div class="form-label-group">Password
                  <input type="password" id="inputPassword" class="form-control" placeholder="" required>
                  
                </div>
                <div class="form-label-group">Confirm Password
                    <input type="password" id="inputPassword2" class="form-control" placeholder="Password2" required> 
                </div>
                <div class="form-label-group">Date of Birth 
                    <input type="text" id="inputdate" class="form-control" placeholder="Date Of Birth" required autofocus>
                    
                  </div>
                
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
