.img-fluid {
    height: 60vh;
    width: 100vh;
    min-height: 60px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }