



<footer class="page-footer font-small special-color-dark pt-4">

    <div class="container">
        <div class="col-auto mr-auto align-self-end text-right py-3">    
        <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social" ></i></a> 
        <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        </div>
    </div>
    <div class="footer-copyright text-center py-3"> Copyright © Advanced Web Technologies 2019 by ALFA
    </div>
  </footer>
  
